@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

body {
    background-color: #F5F5F5;
}

header {
    background-color: #0E370C; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
}

input {
    width: 100%;
    max-width: 600px;
    border: none;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.10); 
    font-size: 15px;
    padding: 10px 15px;
    outline: none;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px ;
    padding: 30px;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
}

div { 
    width: calc(33.333% - 15px);
    padding: 15px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.10); 
    border-radius: 3px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

div:hover {
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.20); 
    transform: translateY(-2px);
    transition: 0.3s;
}

.img_produtos {
    width: 100%;
    max-width: 150px;
    height: 200px;
    display: block;
    margin: 0 auto;
    object-fit: contain;
}

h5 {
    font-size: 14px;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

h3 {
    font-size: 20px;
}